:root {
    --primary: #ffffff;
    --secondary: #b33f04;
    --dark: #09219a;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
    margin: 15px;
}

.hero {
    padding: 35px;
    background-color: var(--secondary);
    color: var(--primary);
}

.hero p {
    max-width: 75%;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

.card {
    margin: 10px;
    background-color: var(--light-dark);
}

.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
}

.card-body {
    padding: 2.5%;
}

.histBtnRow {
    margin-top: 5px;
    margin-bottom: 5px;
}

.icons {
    height: 70px;
    width: 70px;
}

.cardTodayDate {
    font-size: 20px;
}